<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>969650567398-8bipm648bdavbvu9l29kcut4ulgh6cef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969650567398-8bipm648bdavbvu9l29kcut4ulgh6cef</string>
	<key>API_KEY</key>
	<string>AIzaSyALA_Wc2sdJe7eUQfCVACd4ukPHAdB1dwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>969650567398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hirantha.shire</string>
	<key>PROJECT_ID</key>
	<string>project-shire-silent</string>
	<key>STORAGE_BUCKET</key>
	<string>project-shire-silent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969650567398:ios:ab948e170d174ebe</string>
	<key>DATABASE_URL</key>
	<string>https://project-shire-silent.firebaseio.com</string>
</dict>
</plist>